@tailwind base;
@tailwind components;
@tailwind utilities;

page {
  background-color: #070B14;
  color: #F8FAFC;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
